= simple_form_for Event.new, html: { class: 'form-horizontal' } do |f|
  .row
    .col-lg-6.col-sm-12
      = f.input :activity
    .col-lg-6.col-sm-12
      = f.input :occurred_at
  .row
    .col-md-12
      = f.input :comments, as: :text
    .col-md-3.col-offset-md-4
      = f.submit "Good Boy!", clasS: "btn btn-success btn-block"

%br

%table.table
  - @events.each do |event|
    %tr
      %td=event.activity.text
      %td=event.comments
      %td=event.occurred_at.to_formatted_s(:short)
      %td
        =link_to event_path(event), method: :delete do
          = fa_icon "times"
